In [1]:
from Backtest_object import Backtest
from get_stock_indicator import GetStockIndicator

In [2]:
# from finlab import data
# import finlab
# finlab.login("x4HA03mTzkY66f9ckG87DeAr9fPl2bUgYqtCjdcGV9KQyWxfN1Tsn0O0gdszs4s/#free")

In [3]:
# 從Finlab抓取所有公司的股價
# close = data.get('price:收盤價')
# close

In [4]:
# 從資料庫抓取股價
gti = GetStockIndicator()
close = gti.get_price('close')
close

company_symbol,8011,8016,8021,8024,8027,8028,8032,8033,8034,8038,...,8932,8933,8935,8936,8937,8938,8940,8941,8942,8996
date,,,,,,,,,,,,,,,,,,,,,
2000-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-27,14.85,243.0,29.85,24.35,54.1,59.6,32.05,64.9,14.80,43.00,...,43.85,13.15,12.2,28.40,15.3,99.8623,23.70,57.9,66.4,223.0
2023-03-28,14.45,235.5,29.50,23.80,53.2,58.3,31.80,58.5,14.60,41.90,...,43.85,12.95,12.1,27.75,15.4,98.0300,23.30,57.6,66.5,221.0
2023-03-29,14.55,233.0,29.35,24.00,53.8,57.4,31.90,57.7,14.75,42.05,...,44.60,12.85,12.1,27.30,15.0,98.3000,23.80,58.1,66.4,219.0
2023-03-30,14.60,234.5,29.45,24.50,53.1,60.0,32.00,57.5,14.70,42.05,...,46.00,12.85,12.2,27.70,15.1,100.0000,23.65,58.0,66.5,227.0
2023-03-31,14.75,237.5,29.50,24.85,53.6,61.8,32.10,58.2,14.70,42.45,...,46.90,12.80,12.4,28.20,15.1,99.4000,24.05,58.2,66.5,234.0

In [5]:
# 創三百個交易日新高
position = close >= close.rolling(5).max()
position

company_symbol,8011,8016,8021,8024,8027,8028,8032,8033,8034,8038,...,8932,8933,8935,8936,8937,8938,8940,8941,8942,8996
date,,,,,,,,,,,,,,,,,,,,,
2000-01-04,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2000-01-05,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2000-01-06,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2000-01-07,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2000-01-10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-27,True,True,False,False,True,True,False,True,True,True,...,False,False,False,False,False,False,False,False,False,False
2023-03-28,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,True,False
2023-03-29,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
2023-03-30,False,False,False,False,False,True,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
2023-03-31,False,False,False,True,False,True,True,False,False,False,...,True,False,True,False,False,False,True,True,True,True

In [6]:
# 舉例，這裡出來的就是input
# index是日期、column名稱是股票代號
position = position[["8404"]]
position

company_symbol   8404
date
2000-01-04      False
2000-01-05      False
2000-01-06      False
2000-01-07      False
2000-01-10      False
...               ...
2023-03-27       True
2023-03-28       True
2023-03-29      False
2023-03-30      False
2023-03-31      False

[5758 rows x 1 columns]

In [7]:
instance = Backtest(position)

             8404
date
2000-01-04    NaN
2000-01-05    NaN
2000-01-06    NaN
2000-01-07    NaN
2000-01-10    NaN
...           ...
2023-03-27  27.25
2023-03-28  27.30
2023-03-29  27.10
2023-03-30  27.15
2023-03-31  27.20

[5758 rows x 1 columns]
buydf + selldf
               8404
date
2011-06-08  13.9508
2011-06-29  12.7493
2011-07-18  12.7716
2011-07-22  12.9941
2011-07-28  13.2611
...             ...
2023-02-02  26.8000
2023-02-10  28.1000
2023-03-06  28.2500
2023-03-21  27.0500
2023-03-24  27.2500

[362 rows x 1 columns]
               8404
date
2011-06-10  13.9508
2011-07-04  12.8383
2011-07-19  12.6158
2011-07-25  12.9496
2011-07-29  13.2166
...             ...
2023-02-06  26.8000
2023-02-14  28.4000
2023-03-08  28.2000
2023-03-23  27.1000
2023-03-29  27.1000

[362 rows x 1 columns]

In [8]:
# 每次交易的獲利
instance.profit

array([-0.00585   ,  0.00109989, -0.01799496, -0.00925948, -0.00919083,
       -0.00758834, -0.03013213,  0.00955535,  0.01519592,  0.05325945,
        0.0142902 , -0.02235632, -0.03475065, -0.0395025 , -0.01911947,
       -0.01911947, -0.0192221 , -0.01248473,  0.09437951, -0.00882681,
        0.05655419,  0.04128477,  0.075249  , -0.04374404, -0.01632592,
       -0.00585   , -0.01599838, -0.03276113, -0.01327696,  0.005298  ,
       -0.02059392, -0.00585   , -0.01327696,  0.09520558,  0.01108234,
       -0.01692245, -0.00585   , -0.0132225 , -0.01686795, -0.0206087 ,
       -0.01724648, -0.03083652, -0.01004955,  0.18902027,  0.06141166,
        0.0221543 ,  0.01828957, -0.00928205, -0.01285907, -0.02806345,
       -0.00957771, -0.01344765, -0.00585   , -0.03129066,  0.02301249,
        0.02443916, -0.0201708 ,  0.04446705, -0.01246324, -0.01903269,
       -0.00930588,  0.17390695,  0.00570039, -0.01726792, -0.0176745 ,
        0.03349115,  0.10018833, -0.0083315 ,  0.02386892, -0.00816376,
       -0.03085187, -0.00066155, -0.00079323,  0.06490845, -0.01359232,
       -0.00585   , -0.00852791,  0.07073196,  0.12432336,  0.01054064,
        0.03153487, -0.01323615, -0.03078874, -0.01581177, -0.0123187 ,
       -0.02183555,  0.02142625, -0.00824466, -0.01297402, -0.00672164,
       -0.01343223,  0.01152447,  0.0069167 , -0.00836464, -0.00836464,
       -0.02021245, -0.01087929,  0.00922925, -0.01902196,  0.00490615,
       -0.01114682, -0.00862982, -0.01140362,  0.01083945, -0.01126194,
        0.01042078,  0.08707336, -0.01052511, -0.0104284 , -0.02169227,
        0.08584593, -0.03178586, -0.03182732,  0.02431827,  0.12647412,
       -0.00762821, -0.01865734,  0.18510577, -0.0332521 , -0.02235297,
       -0.02007545, -0.02993686, -0.02143859, -0.01014015,  0.01989793,
       -0.01194377, -0.00585   , -0.02359478, -0.00191594,  0.071928  ,
        0.00778443,  0.23778536, -0.02114571, -0.01245023, -0.01356983,
       -0.02763491, -0.03359373,  0.11453038,  0.01139687, -0.00585   ,
       -0.02513821, -0.02477162, -0.02279617, -0.02160791, -0.01551327,
       -0.04130854, -0.02823576, -0.0190548 ,  0.02999   , -0.03170661,
       -0.00199717, -0.01335239,  0.05977781, -0.01352029, -0.02240035,
       -0.0030659 ,  0.02975482, -0.00585422, -0.03159624,  0.02014794,
        0.03846385, -0.01709789,  0.02667661,  0.00206929,  0.02166234,
       -0.00074518, -0.00312075, -0.00851356, -0.00585   , -0.01235901,
       -0.02294377, -0.01119463, -0.01110992, -0.00983805, -0.00585   ,
       -0.00450183, -0.00852788,  0.01641931, -0.00966488, -0.0245154 ,
       -0.00961677, -0.0145938 , -0.00985409, -0.01656805,  0.02234059,
       -0.01327682,  0.09133955, -0.00811584,  0.07366133,  0.03057143,
        0.04577352,  0.01131526, -0.01470664, -0.02262835, -0.00954968,
       -0.02043687,  0.00873687, -0.0111555 , -0.01400972,  0.00502028,
        0.06806376, -0.01781214, -0.01316974, -0.0145967 , -0.01041031,
        0.03816234, -0.01886376,  0.06247336, -0.01775497, -0.03583857,
       -0.00907598,  0.01992706, -0.01542372, -0.00585   , -0.03050371,
       -0.01668521,  0.06773593,  0.02078214,  0.02948097, -0.03005609,
        0.06908604, -0.01159225, -0.01902449, -0.00395853,  0.0111483 ,
        0.01429833,  0.00788425, -0.00697052, -0.01368811, -0.02424313,
       -0.01974107, -0.0133555 , -0.0081666 ,  0.01958389, -0.00702055,
        0.00888037, -0.00705017,  0.11859761, -0.0110088 , -0.00995527,
       -0.00690711,  0.00580175, -0.00480621, -0.01311598, -0.00999803,
       -0.00202105, -0.01343497, -0.00779179, -0.01365805, -0.01168436,
       -0.0117303 , -0.00687846, -0.00125162, -0.01861344, -0.00123564,
       -0.01491329, -0.00813075, -0.02244247, -0.01668425, -0.00708059,
        0.01123047,  0.04959198, -0.00139565,  0.03955316, -0.05387281,
        0.08702266, -0.01580549,  0.00612394, -0.01086957,  0.02801218,
       -0.02543457, -0.01070634,  0.0423254 , -0.0512397 , -0.0200983 ,
       -0.01393076, -0.00585   , -0.01625991, -0.01278865, -0.01061499,
        0.01277797, -0.01444746,  0.04057475,  0.01882019, -0.01962748,
       -0.02688201, -0.00066311, -0.00413926,  0.02318317, -0.00917084,
       -0.01760081, -0.00249935, -0.03124767, -0.01657368, -0.01836029,
        0.06170531, -0.01244037, -0.02434835,  0.25084539,  0.15318352,
       -0.01184706, -0.06857924, -0.02046074, -0.02043019, -0.02826764,
       -0.03127133, -0.01591661, -0.03705605, -0.03544553, -0.02591179,
       -0.03582811, -0.00839144,  0.06629134, -0.01514107, -0.01530788,
       -0.02402617,  0.03204906, -0.01022114, -0.00729226,  0.00562471,
       -0.01150434, -0.0072477 , -0.02806628, -0.01539562, -0.00029517,
       -0.01807481, -0.00721324,  0.01397755, -0.00175733, -0.01529213,
       -0.01539562, -0.02294358, -0.00585   ,  0.0028699 , -0.0245515 ,
       -0.01735789,  0.00540089, -0.02007005, -0.02451606, -0.00759662,
        0.06328715, -0.01375139, -0.02636105, -0.00271926, -0.01370154,
       -0.01057583, -0.02205285, -0.00779829,  0.01351916, -0.01880358,
       -0.01333553, -0.00213517, -0.0185672 , -0.00396801, -0.00585   ,
       -0.00771787, -0.00957178, -0.00585   ,  0.00477891, -0.00761208,
       -0.00400975, -0.01133023])

In [9]:
# 最大回落
instance.max_dd

-0.06857924127898418

In [10]:
# 累計回報
instance.cumul_profit

0.44752848100495357

In [11]:
# 每筆交易手續費
instance.fee

array([0.03975978, 0.03646233, 0.03617704, 0.03696977, 0.03773072,
       0.03636728, 0.03595517, 0.03303806, 0.02140393, 0.02306277,
       0.02446255, 0.0251276 , 0.02614248, 0.02442749, 0.02085801,
       0.02085801, 0.02071793, 0.02092798, 0.02190795, 0.02341275,
       0.02418268, 0.02421759, 0.02593244, 0.02705234, 0.02645741,
       0.0225378 , 0.02047298, 0.02043806, 0.01868816, 0.01886315,
       0.01875813, 0.0186182 , 0.01868816, 0.01956311, 0.02075284,
       0.0205904 , 0.02047526, 0.02062887, 0.0206672 , 0.02055206,
       0.01997693, 0.01809807, 0.0181364 , 0.01978513, 0.02346619,
       0.02488478, 0.02561338, 0.02220079, 0.02170247, 0.02039873,
       0.02043692, 0.02001527, 0.02070554, 0.02074373, 0.02147233,
       0.0204754 , 0.02116553, 0.02177899, 0.02300606, 0.02300605,
       0.02204746, 0.02407965, 0.02661031, 0.02661031, 0.02569004,
       0.02656542, 0.02818878, 0.03163315, 0.03230617, 0.03392939,
       0.03424617, 0.03048503, 0.03127675, 0.03230617, 0.03044541,
       0.03056425, 0.02941599, 0.03099959, 0.03483997, 0.03879919,
       0.04081813, 0.04252072, 0.04058058, 0.03939298, 0.03646319,
       0.03424603, 0.03515674, 0.03290012, 0.03305843, 0.03221284,
       0.03265644, 0.03365494, 0.03265644, 0.0329061 , 0.0329061 ,
       0.03436217, 0.03286449, 0.03319723, 0.03124198, 0.03095086,
       0.03120037, 0.02966123, 0.02970284, 0.03003558, 0.0305349 ,
       0.03078442, 0.03265644, 0.03536052, 0.03610922, 0.03631727,
       0.03968696, 0.04097659, 0.03777333, 0.03902149, 0.04205831,
       0.04655104, 0.04497029, 0.048964  , 0.05366479, 0.04682123,
       0.04229999, 0.04260422, 0.04408252, 0.04025682, 0.04086544,
       0.04247398, 0.0434739 , 0.04351722, 0.04408238, 0.04625621,
       0.0447346 , 0.05542908, 0.06177631, 0.06534124, 0.0670367 ,
       0.06681925, 0.05229893, 0.05642915, 0.05568986, 0.05616809,
       0.05777663, 0.05890694, 0.06077639, 0.05995032, 0.06238493,
       0.06234147, 0.0649934 , 0.06512378, 0.06638462, 0.06608024,
       0.06751493, 0.06894948, 0.07221002, 0.06747133, 0.06742787,
       0.06225454, 0.06434132, 0.06729748, 0.06623671, 0.06358535,
       0.06642965, 0.06787588, 0.06898468, 0.07298579, 0.07428739,
       0.07539604, 0.07047893, 0.07202164, 0.07231077, 0.07351603,
       0.07235908, 0.07163603, 0.07279285, 0.0720698 , 0.07173251,
       0.07139492, 0.07163603, 0.07409444, 0.07534787, 0.0764085 ,
       0.07631203, 0.07650483, 0.07178053, 0.07125028, 0.07597459,
       0.07722802, 0.08079536, 0.08455551, 0.08913532, 0.09660731,
       0.10682726, 0.112805  , 0.11692467, 0.11065538, 0.11222274,
       0.11326755, 0.11493936, 0.11734277, 0.12695582, 0.13468815,
       0.14304749, 0.1555862 , 0.14158458, 0.14210698, 0.13656887,
       0.14012153, 0.12706041, 0.13228489, 0.13897227, 0.13667346,
       0.12873222, 0.13082198, 0.12977703, 0.1253886 , 0.10835657,
       0.09550421, 0.09968374, 0.10292305, 0.10570636, 0.10806958,
       0.11159688, 0.11992316, 0.1215421 , 0.12177352, 0.09563788,
       0.09812408, 0.10130439, 0.10274991, 0.10240306, 0.09922275,
       0.09876034, 0.09170602, 0.09933846, 0.096274  , 0.0983555 ,
       0.09448135, 0.09592701, 0.10321247, 0.11130775, 0.11194358,
       0.10864784, 0.10934167, 0.11015122, 0.1104982 , 0.11078734,
       0.12050128, 0.12096398, 0.11853549, 0.11749467, 0.11807279,
       0.11714768, 0.12132792, 0.10885005, 0.10690635, 0.10847385,
       0.10972799, 0.10935165, 0.10446105, 0.10314435, 0.10138875,
       0.10320705, 0.10878749, 0.11236153, 0.11530844, 0.06596211,
       0.07035125, 0.0748658 , 0.07342369, 0.0744269 , 0.07499119,
       0.07574359, 0.0769349 , 0.07963114, 0.08063448, 0.07831444,
       0.0769349 , 0.07586899, 0.07309965, 0.07322776, 0.08007673,
       0.07598014, 0.07380388, 0.07585218, 0.07322776, 0.07348369,
       0.0719474 , 0.07393185, 0.07469993, 0.07572407, 0.07668424,
       0.075468  , 0.07617224, 0.07431575, 0.07092325, 0.07085927,
       0.0741238 , 0.07706828, 0.07508396, 0.08295723, 0.10644907,
       0.12712439, 0.12200337, 0.12123544, 0.12149137, 0.12366777,
       0.12373175, 0.125972  , 0.12462779, 0.10866152, 0.10308749,
       0.10295625, 0.10269391, 0.0937754 , 0.09790676, 0.09620175,
       0.09252952, 0.09128336, 0.0893817 , 0.09043107, 0.09154585,
       0.09207039, 0.09331641, 0.09298852, 0.09528362, 0.09430009,
       0.09554597, 0.09567706, 0.09311962, 0.09593941, 0.09633299,
       0.09528362, 0.09089006, 0.08997194, 0.09023428, 0.08990639,
       0.09023428, 0.09338196, 0.08203711, 0.08315188, 0.08115375,
       0.08493   , 0.08941875, 0.08899125, 0.0907725 , 0.08998875,
       0.08984625, 0.07816125, 0.07274625, 0.0739575 , 0.07616625,
       0.075525  , 0.0765225 , 0.07759125, 0.07545375, 0.07581   ,
       0.07588125, 0.076095  , 0.07638   , 0.0805125 , 0.08044125,
       0.07716375, 0.07744875])

In [12]:
# 每筆交易稅率
instance.tax

array([0.0418524, 0.0385149, 0.0378474, 0.0388488, 0.0396498, 0.0382479,
       0.0373803, 0.0350439, 0.0227661, 0.0249765, 0.0260079, 0.026229 ,
       0.0271131, 0.0252711, 0.0218085, 0.0218085, 0.0216609, 0.0219558,
       0.0241662, 0.0246081, 0.026229 , 0.0260817, 0.0283656, 0.0279237,
       0.0277026, 0.023724 , 0.0214401, 0.021219 , 0.0195981, 0.0199665,
       0.0195981, 0.0195981, 0.0195981, 0.0215874, 0.0220293, 0.0215529,
       0.0215529, 0.0216339, 0.0216339, 0.0214722, 0.0209073, 0.0188085,
       0.0190506, 0.022683 , 0.0255084, 0.0265578, 0.0272844, 0.0233289,
       0.022764 , 0.0212301, 0.0214722, 0.020988 , 0.0217953, 0.0215529,
       0.0229254, 0.021876 , 0.0221181, 0.0234903, 0.0241362, 0.0240555,
       0.0231675, 0.0274458, 0.0281724, 0.0278493, 0.0268806, 0.0285054,
       0.0311727, 0.0332565, 0.0345066, 0.0356736, 0.0355902, 0.0321729,
       0.0330063, 0.0351735, 0.0319227, 0.0321729, 0.0309225, 0.0338397,
       0.0389241, 0.0411747, 0.0437583, 0.044592 , 0.0421746, 0.0412578,
       0.0382572, 0.0357567, 0.0375072, 0.03459  , 0.0346734, 0.0338934,
       0.0342438, 0.0357327, 0.0345942, 0.0345942, 0.0345942, 0.0359079,
       0.0345066, 0.0352071, 0.0326673, 0.0327549, 0.0327549, 0.0311787,
       0.0311787, 0.0318792, 0.0320544, 0.0326673, 0.0359079, 0.037134 ,
       0.0379221, 0.0379221, 0.0436149, 0.042564 , 0.0392358, 0.0416883,
       0.0470307, 0.0489573, 0.0470307, 0.0560514, 0.055701 , 0.0488736,
       0.0442059, 0.0442974, 0.0460365, 0.0422841, 0.0435654, 0.0445722,
       0.045762 , 0.0453957, 0.046494 , 0.0505212, 0.0474093, 0.0647073,
       0.0645243, 0.0685515, 0.0702903, 0.069558 , 0.0542736, 0.0627855,
       0.0591243, 0.0591243, 0.0602226, 0.0614124, 0.063426 , 0.0626022,
       0.0653481, 0.0644328, 0.0676362, 0.0680937, 0.0711141, 0.068643 ,
       0.0712056, 0.0723039, 0.0784359, 0.0707478, 0.0703818, 0.0656226,
       0.0689175, 0.0708393, 0.0688095, 0.0677946, 0.0714483, 0.0710424,
       0.0737826, 0.0771315, 0.079263 , 0.0795672, 0.0742899, 0.0757107,
       0.0761166, 0.0771315, 0.0755079, 0.0752034, 0.0764211, 0.0757107,
       0.0755079, 0.0752034, 0.0753048, 0.0788568, 0.0791613, 0.0796689,
       0.0801762, 0.0801762, 0.0754062, 0.0745944, 0.0810897, 0.0809883,
       0.0890058, 0.0889044, 0.0974295, 0.1035186, 0.1152915, 0.119757 ,
       0.1225287, 0.1154895, 0.1179093, 0.1183491, 0.1218687, 0.1231887,
       0.1330878, 0.1425468, 0.1559658, 0.1627851, 0.1484865, 0.1489263,
       0.1434267, 0.1506861, 0.1328679, 0.1438668, 0.1454067, 0.1416669,
       0.1352877, 0.1394673, 0.1359474, 0.131988 , 0.1126296, 0.0999807,
       0.1086699, 0.10977  , 0.1132098, 0.1123575, 0.121731 , 0.1258698,
       0.1270869, 0.1283043, 0.1015236, 0.1043232, 0.1073667, 0.1080969,
       0.1073667, 0.1034712, 0.1032279, 0.0961674, 0.104445 , 0.1026192,
       0.1034712, 0.1001844, 0.1009149, 0.1150356, 0.1168617, 0.1175919,
       0.1143054, 0.1157661, 0.1160094, 0.1158879, 0.1163748, 0.1270869,
       0.1268436, 0.1246524, 0.1231917, 0.1239219, 0.1229481, 0.1276476,
       0.114843 , 0.111807 , 0.114447 , 0.114975 , 0.114975 , 0.109035 ,
       0.107979 , 0.106659 , 0.109563 , 0.1176153, 0.1185393, 0.1240833,
       0.0677178, 0.0773541, 0.0784101, 0.0777501, 0.0781461, 0.0802581,
       0.0789381, 0.0807861, 0.0858024, 0.0828984, 0.0818421, 0.0806541,
       0.0798621, 0.0765426, 0.0768123, 0.0840891, 0.0807204, 0.0773514,
       0.0816636, 0.0780252, 0.0768123, 0.0749256, 0.0780252, 0.078699 ,
       0.0808551, 0.0805854, 0.0789684, 0.080316 , 0.0772164, 0.0742518,
       0.0741171, 0.0805854, 0.0808551, 0.0782946, 0.0972954, 0.1203393,
       0.1334109, 0.1242471, 0.1266729, 0.1269423, 0.1286943, 0.1285596,
       0.1319283, 0.1290984, 0.1126548, 0.1074087, 0.1067184, 0.1079607,
       0.1021623, 0.1025766, 0.1007817, 0.0965022, 0.0978825, 0.093879 ,
       0.0951216, 0.0969162, 0.0966402, 0.0981588, 0.0967782, 0.0998154,
       0.0995394, 0.0999534, 0.1006437, 0.0989871, 0.101196 , 0.10092  ,
       0.0998154, 0.0948453, 0.0947073, 0.0953976, 0.093741 , 0.0944313,
       0.0988491, 0.0857337, 0.0867   , 0.08535  , 0.0924   , 0.09375  ,
       0.0927   , 0.0957   , 0.09435  , 0.09435  , 0.0816   , 0.0765   ,
       0.0786   , 0.07965  , 0.0792   , 0.0807   , 0.08115  , 0.0795   ,
       0.0798   , 0.0798   , 0.07995  , 0.0804   , 0.0852   , 0.0846   ,
       0.0813   , 0.0813   ])

In [13]:
# 這是我目前放yfinance股價的dataframe，你可以看一下格式
# signal是自動生成的
instance.df.head(50)

            8404  signal
date
2000-01-04   NaN   False
2000-01-05   NaN   False
2000-01-06   NaN   False
2000-01-07   NaN   False
2000-01-10   NaN   False
2000-01-11   NaN   False
2000-01-12   NaN   False
2000-01-13   NaN   False
2000-01-14   NaN   False
2000-01-15   NaN   False
2000-01-17   NaN   False
2000-01-18   NaN   False
2000-01-19   NaN   False
2000-01-20   NaN   False
2000-01-21   NaN   False
2000-01-24   NaN   False
2000-01-25   NaN   False
2000-01-26   NaN   False
2000-01-27   NaN   False
2000-01-28   NaN   False
2000-01-29   NaN   False
2000-01-31   NaN   False
2000-02-01   NaN   False
2000-02-09   NaN   False
2000-02-10   NaN   False
2000-02-11   NaN   False
2000-02-14   NaN   False
2000-02-15   NaN   False
2000-02-16   NaN   False
2000-02-17   NaN   False
2000-02-18   NaN   False
2000-02-19   NaN   False
2000-02-21   NaN   False
2000-02-22   NaN   False
2000-02-23   NaN   False
2000-02-24   NaN   False
2000-02-25   NaN   False
2000-02-29   NaN   False
2000-03-01   NaN   False
2000-03-02   NaN   False
2000-03-03   NaN   False
2000-03-04   NaN   False
2000-03-06   NaN   False
2000-03-07   NaN   False
2000-03-08   NaN   False
2000-03-09   NaN   False
2000-03-10   NaN   False
2000-03-13   NaN   False
2000-03-14   NaN   False
2000-03-15   NaN   False